<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        <a href="https://bitbucket.org/kennedysimiyu/" class="navbar-brand">Kennedy Simiyu BitBucket</a>
		<a href="https://github.com/kennedysimiyu" class="navbar-brand">Kennedy Simiyu Github</a>
    </div>
	<!-- a div for our navigation bar -->
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li><a href="#/">Expenses</a></li>
                <li><a href="#/admin">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>